body {
  	font-family: 'Raleway', sans-serif;
  	padding: 0px;
	margin: 0px;
}

h1 {
	padding: 0px;
	margin: 0px;
}

h2 {
	text-align: center;
}

h3 {
	font-weight: 300;
}

input {
	font-family: 'Raleway', sans-serif;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

.filters {
	float: left;
	width: 24vw - 10px;
	height: 85vh;
	padding: 0px;
	padding-left: 10px;
	padding-top: 10px;
	color: #848484;
	font-weight: 300;
	/*border: 2px solid blue;*/
	margin: 0px;
}

.Overlay {
	position: absolute;
	width: 80%;
	height: 80%;
	border: solid;
	background-color: white;
	left: 10%;
	top: 10%;
	visibility: hidden;
}

.viz {
	float: right;
	width: 74vw;
	height: 85vh;
	padding-top: 30px;
	/*border: 2px solid green;*/
	margin: 0px;
	padding: 0px;
}

.footer {
	padding: 10px;
	margin: 0px;
	/*border: 2px solid red;*/
	color: #808080;
	text-align: right;
	width: 100vw;
	float: right;
}

#deptsearch {
	width: 90%;
	height: 20px;
}