extends layout

block content
	div(id="background")
		div(class="filters")
			h1 <span style="color:#78C0A8">flow</span><span style="color:#F26223">kap</span>
			h4 By Hyung-seo Park and Alison Tai
			p <b>Instructions:</b> </br> Each segmented arc represents an academic </br> building at Tufts. Each connecting inner arc </br> represents the estimated flow of students from </br> one building to another.</br></br>Use the textbox below to filter the visualization</br>by departments.
			h3 Departments
			ul(id="department_list")
			ul
			h3 Add Departments
			div(class="ui_widget")
				// <label for="deptsearch">Add Departments: </label>
				input(id="deptsearch")
				// This button updates the visualization by filtering the given department
				button(id="deptButton") Update
				button(id="showAll") Show All Departments
			//Additional Filters
		// Visualization
		div(class="viz", style="position: fixed; left:420px; top:25px")
		// Footer
		div(clss="footer")
			p Map <span style="color:#78C0A8">flow.</span></br><span style="color:#F26223">Cap</span> commute time.</p>
	div(class="Overlay", id="overlay_div")
		h2(id="building_name")
	script.
		var courses = parse_courses();
		split_buildings(courses, "All");
