doctype html
html
	head
		meta(charset="UTF-8")
		title= "FlowKap"
		// Javascript Libraries
		script(src="http://d3js.org/d3.v3.min.js")
		script(src="http://code.jquery.com/jquery-git2.min.js")
		script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js")
		// Styling
		link(rel='stylesheet', href='/stylesheets/style.css')

	body(SCROLL=NO)
		block content